@page "/chat"
@layout NoHeaderLayout
@inject IUserSession session;

<PageTitle>Chat</PageTitle>

<div class="d-flex mvh-100 overflow-hidden justify-content-center">

    <ChatSideMenu />

    <div class="card vh-100 col-lg-4 justify-content-center border-0 ms-md-3">    

        <CardNavMenu />
    
        <MessageList /> 

        <ChatInput />
     
    </div>
</div>

@code {
    private List<Message> chatMessages;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (session.User.Username == null)
        {
            if (await session.IsLoggedIn())
                navManager.NavigateTo("/menu");
            else
                navManager.NavigateTo("/");
        }
    }

    void HandleMessages()
        => session.CurrentChat.Prompts = chatMessages;

    async Task HandleEvent()
        => await InvokeAsync(() => StateHasChanged());
}

