@page "/chat"
@layout NoHeaderLayout
@inject IUserSession session;

<PageTitle>Chat</PageTitle>

<div class="d-flex overflow-hidden justify-content-center">

    <div class="col-12 col-md-4 col-lg-3 col-xl-2 d-none d-md-block px-3 border-end border-grey">
        <ChatSideMenu />
    </div>

    <div class="card col-12 col-md-8 col-lg-9 col-xl-10 vh-100 justify-content-center border-0">

        <CardNavMenu />
    
        <MessageList /> 

        <ChatInput />
     
    </div>
</div>

@code {
    private List<Message> chatMessages;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (session.User.Username == null)
        {
            if (await session.IsLoggedIn())
                navManager.NavigateTo("/menu");
            else
                navManager.NavigateTo("/");
        }
    }

    void HandleMessages()
        => session.CurrentChat.Prompts = chatMessages;

    async Task HandleEvent()
        => await InvokeAsync(() => StateHasChanged());
}

