@page "/chatsettings"
@inject IUserSession session;
@inject IChatHistoryRepository ChatHistory;
@inject NavigationManager navManager;
@inject INavigationServices navServices;
@inject IMessageService MessageService;

<PageTitle>Chat settings</PageTitle>


<div class="text-center mx-auto gap-2 pt-2">
    @* Border är inte ställd i bredd med korten *@
    <div class="container" style="max-width: 540px">
        <div class="row mb-3 justify-content-center align-content-center" >
            <h2 class="border-start border-success border-5 rounded-1 fs-4 fw-semibold mb-3 text-center mt-2  ">
                Chat Settings
            </h2>
        </div>
    </div>
    <div class="d-flex flex-column justify-content align-content-center gap-4 mt-5 mx-auto">
        <div class="col-12 col-md-6 justify-content-center align-content-center mx-auto" @onclick="DeleteChat">
            <article class="card mb-3 m-auto"
                     style="max-width: 540px">
                <a role="button"
                   class="text-decoration-none text-black">
                    <div class="row g-0">
                        <div class="col-3 d-flex align-self-center justify-content-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                            </svg>
                        </div>
                        <div class="col-9">
                            <div class="card-body">
                                <h2 class="card-title fs-3 text-danger">
                                    Delete
                                </h2>                        
                            </div>
                        </div>
                    </div>
                </a>
            </article>
        </div>

        @*@onclick="ShareChat"*@
        <div class="col-12 col-md-6 justify-content-center align-content-center mx-auto">
            <article class="card mb-3 m-auto"
                     style="max-width: 540px">
                <a role="button"
                   class="text-decoration-none text-black">
                    <div class="row g-0">
                        <div class="col-3 d-flex align-self-center justify-content-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#091714" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                            </svg>
                        </div>
                        <div class="col-9">
                            <div class="card-body">
                                <h2 class="card-title fs-3 text-danger">
                                    Share
                                </h2>
                                <p>Not working</p>
                            </div>
                        </div>
                    </div>
                </a>
            </article>
        </div>

        <div class="col-12 col-md-6 justify-content-center align-content-center mx-auto" @onclick="ToggleLike">
            <article class="card mb-3 m-auto"
                     style="max-width: 540px">
                <a role="button"
                   class="text-decoration-none text-black">
                    <div class="row g-0">
                        <div class="col-3 d-flex align-self-center justify-content-center">
                            <div class="p-1 mt-1 text-center" id="heartcontainer">
                                    @if (chatHistory.IsLocked)
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
                                        </svg>
                                    }
                                    else if (!chatHistory.IsLocked)
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="grey" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                            <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
                                        </svg>
                                    }
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="card-body">
                                <h2 class="card-title fs-3 text-danger">
                                    Favorite
                                </h2>
                                <p>Your chat will not be removed until unliked</p>
                            </div>
                        </div>
                    </div>
                </a>
            </article>
        </div>
    </div>
</div>

@code {
    private bool isNowChatSettingsBool = true;
    private ChatHistory chatHistory;

    protected override async Task OnInitializedAsync()
    {
        navServices.ToggleChatSettings(isNowChatSettingsBool);
        chatHistory = session.CurrentChat;

        if (session.User.Username == null)
        {
            if (await session.IsLoggedIn())
                navManager.NavigateTo("/menu");
            else
                navManager.NavigateTo("/");
        }
    }

    public async Task DeleteChat()
    {
        await ChatHistory.DeleteAsync(x => x.Id == session.CurrentChat.Id);

        navServices.ToggleChatSettings(false);

        MessageService.DeleteChat();

        navManager.NavigateTo("/menu");
    }

    private async Task ToggleLike()
    {
        chatHistory = await ChatHistory.FavoriseAsync(x => x.Id == chatHistory.Id);

        StateHasChanged();
    }
}
